/* GLOBAL */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.section-digit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}

.digit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
}
.digit__item {
  font-size: var(--size);
  height: var(--size);
  line-height: var(--size);
  overflow: hidden;
}
.digit__val {
  height: inherit;
  overflow: hidden;
}
@media (min-width: 601px) {
  .digit {
    --size: 11.666vw;
  }
}
@media (max-width: 600px) {
  .digit {
    --size: 21.333vw;
  }
}

/* LENIS CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}